@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap');

.title-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .title {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #262931;
  }

  .title-icon {
    margin-top: -4px; /* Adjust this value to move the icon up */
  }
  